/* Variables */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Signika", serif;
  color: #2c2c54;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.container h1 {
  font-size: 48px;
  margin-bottom: 18px;
}

section {
  padding: 120px 0;
}

p {
  color: #777;
  font-size: 1.1em;
  letter-spacing: -0.35px;
  font-weight: 400;
}

h1 {
  margin-bottom: 0;
  font-size: 40px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h3 {
  width: 296px;
  height: 17px;
  color: #777;
  font-family: "Signika", serif;
  font-size: 1.1em;
  font-style: italic;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5%;
  margin-top: -0,7%;
}

.row {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/* Navigation */
.navigation {
  background: #fed136;
  padding: 0;
  margin-left: 50%;
}

.navigation ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: absolute;
  top: 5vmax;
  right: 6vmwx;
  z-index: 1;
}

.navigation ul li {
  display: inline-block;
  margin: 0 40px 0 0;
  position: relative;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  font-size: 1em;
  color: #ffffff;
}

.navigation a:hover {
  color: #33d9b2;
}

.navigation ul ul li {
  display: block;
  margin: 0 0 12px 0;
}

.navigation ul ul {
  display: none;
  background: #ffffff;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 12px;
}

.navigation li:hover ul {
  display: block;
  position: absolute;
}

/* Splash */
.splash {
  background-image: url(../images/Background_Image.png);
  background-size: cover;
  color: #ffffff;
  min-height: 930px;
  background-position: center;
}

.transparent {
  display: block;
  width: 100%;
  height: 930px;
  background-color: #000;
  opacity: 0.5;
}

.splash-inner {
  margin: 10% auto;
  max-width: 100%;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
}

.page-title {
  margin: 0 10%;
  font-size: 5.6vmax;
  word-spacing: 0;
  font-weight: 700;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding-bottom: 2em;
}

.page-subtitle {
  margin-top: -5vw;
  font-size: 2.5vmax;
  font-weight: 400;
  text-align: center;
  font-style: italic;
}

.golden {
  margin: 0;
  font-family: "Great Vibes", cursive;
  font-size: 26px;
  color: #fed136;
  font-style: italic;
  position: absolute;
  text-transform: none;
  top: 3vw;
  left: 18vw;
}

.btn {
  display: inline-block;
  min-width: 300px;
  min-height: 80px;
  padding: 25px 51px 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  background-color: #fed136;
  background-position: 100% 0;
  background-size: 300%;
  transition: all 1s;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  text-align: center;
}

.btn:hover {
  background-position: 0 100%;
  color: #fff;
}

/* Services */
/*# sourceMappingURL=style.css.map */